<nav class="header-nav">
  <div class="left-section">
    <!-- Logo -->
    <a routerLink="/" class="logo-link">
      <img 
        src="https://companieslogo.com/img/orig/SNY_BIG.D-95ef01ab.png?t=1720244494" 
        alt="Sanofi Logo" 
        class="logo"
      />
    </a>

    <!-- Upload CSV button for effort-table page -->
    

    <!-- Page title and separator -->
    <ng-container *ngIf="context !== 'home'">
      <div class="page-title"></div>
      <span class="separator">|</span>
    </ng-container>
    <button 
      *ngIf="context === 'effort'" 
      class="header-button upload-left" 
      (click)="goToEffortUpload()">
      <i class="fas fa-upload"></i> Upload CSV
    </button>
    <button 
      *ngIf="context === 'viewdata'" 
      class="header-button upload-left" 
      (click)="goToUpload()">
      <i class="fas fa-upload"></i> Upload CSV
    </button>

    <div class="left-buttons">
      <!-- Add any context-based buttons here -->
    </div>
  </div>

  <!-- Right buttons for viewdata page -->
  <div class="right-buttons" *ngIf="context === 'viewdata'">
    <button class="header-button" (click)="downloadCSV()">
      <i class="fas fa-download"></i> Download CSV
    </button>
  </div>
</nav>
