<div class="home-card">
  <h2 class="home-title">Dashboard</h2>
  <div class="home-buttons">
    <button class="home-btn btn-pnp" routerLink="/viewdata">
      <i class="fas fa-tasks"></i> Application Upgrades/PNP Table
    </button>

    <div class="dropdown">
      <button class="home-btn btn-effort dropdown-toggle">
        <i class="fas fa-chart-line"></i> RL/Effort Options
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/effort-table">RL/Effort Table</a>
        <a class="dropdown-item" routerLink="/view-application-effort">Effort by Application</a>
      </div>
    </div>
  </div>
</div>
