<h2 class="form-title">Edit Application Upgrade</h2>

<div *ngIf="item" class="form-container">
  <div class="form-group">
    <label>APM ID:</label>
    <span>{{ item.apmId }}</span>
  </div>

  <div class="form-group">
    <label>Application Name:</label>
    <span>{{ item.appName }}</span>
  </div>

  <div class="form-group">
    <label>Digital Unit:</label>
    <span>{{ item.digitalUnit }}</span>
  </div>

  <div class="form-group">
    <label>Upgrade Factory Arrival Date:</label>
    <div *ngIf="originalUpgradeFactoryArrivalDate && originalUpgradeFactoryArrivalDate !== item.upgradeFactoryArrivalDate">
      <span class="strikethrough">{{ originalUpgradeFactoryArrivalDate | date: 'mediumDate' }}</span><br>
    </div>
    <input type="date" [(ngModel)]="item.upgradeFactoryArrivalDate" class="readonly-style">
  </div>

  <div class="form-group">
    <label>Planned PnP Date:</label>
    <div *ngIf="originalPlannedPnPDate && originalPlannedPnPDate !== item.plannedPnPDate">
      <span class="strikethrough">{{ originalPlannedPnPDate | date: 'mediumDate' }}</span><br>
    </div>
    <input type="date" [(ngModel)]="item.plannedPnPDate" class="readonly-style">
  </div>

  <div class="form-group">
    <label>Status:</label>
    <select [(ngModel)]="item.status" class="readonly-style">
      <option value="InProgress">In Progress</option>
      <option value="Pending">Pending</option>
      <option value="Locked">Locked</option>
    </select>
  </div>

  <div class="form-group">
    <label>New Comment:</label>
    <textarea [(ngModel)]="newComment" rows="4" placeholder="Add a new comment" class="readonly-style"></textarea>
  </div>

  <div class="form-group" *ngIf="item.comments">
    <label>Previous Comments:</label>
    <div class="comment-display">
      <span *ngFor="let comment of item.comments.split('\n')">
        {{ comment }}<br>
      </span>
    </div>
  </div>

  <div class="button-group">
    <button (click)="saveChanges()">Save</button>
    <button (click)="goToList()">Back</button>
  </div>
</div>
